<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Jailbreak package managers and tools queried by IOSSecuritySuite (canOpenURL). -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>undecimus</string>
		<string>sileo</string>
		<string>zbra</string>
		<string>filza</string>
		<string>dopamine</string>
	</array>
</dict>
</plist>
